.App {
  background-color: #f1f1f1;
  height: 100%;
}

.home-bg {
  background-image: url(/images/wlogBG.jpg);
  z-index: -10;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* header navigation bar it's elements */
#navbar {
  background-color: #9eb091;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 112px;
  width: 100%;
}
header > a {
  color: #4e564b;
  text-decoration: none;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
}
#navbar > a:hover {
  color: #e2e2e2;
  cursor: pointer;
}
.nav-link-active {
  color: #ffffff;
}

input.error {
  border: 2px solid #c45c5c;
}

input {
  padding: 3px 3px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #cfcfcf;
  margin-top: 5px;
}

/* trip thumbnails */

.thumbnail {
  width: 400px;
  height: 300px;
}

.thumbnail_title {
  position: absolute;
  font-family: Libre Baskerville, serif;
  text-shadow: 2px 2px #000000c0;
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  top: 50%;
  transform: translateY(-50%);
  overflow-wrap: break-word;
}
/* thumbnail description */
.thumbnail_overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  max-height: 300px;
  overflow-wrap: break-word;
}

.thumbnail_container:hover .thumbnail_overlay {
  opacity: 1;
}

.thumbnail_container {
  max-width: 400px;
  max-height: 300px;
  display: table;
}


.leaflet-container {
  height: 600px;
  width: 800px;
}
